<footer>
    <p>Ramaneti la curent cu cele mai noi stiri din sport: <abbr title="Digi sport">DIGISPORT</abbr></p>
    <p><dfn><a href="https://www.digisport.ro/" target="blank">Click pentru informatii</a></dfn></p>
    <br/>
    <input type="text" id="nume">
    <button type="button" id="butonnume" onclick="submit()">Submit</button>
    Introduceti numele dvs. pentru a intra in baza de date a suporterilor ligii 1
    <br/><br/>
    <h4>Sponsori oficiali</h4>
    <img src="../../Resurse/imagini/sponsori.png" alt="sponsori" style="width: 100%;">
    <br/>
    <address>
        Scris de <a href="mailto:maftei_valentin06@yahoo.com">Maftei Valentin - Vasile</a><br>
        Telefon: <a href="tel:+40731284780">0731284780</a><br>
        Vizitati-ne la: <a
                href="https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83+-+Universitatea+din+Bucure%C8%99ti/@44.4355355,26.097398,17z/data=!3m1!4b1!4m5!3m4!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867">Locatie</a><br/>
        Whatsapp <a href="https://wa.me/40731284780" target="_blank">contact</a>
    </address>
    <p>&copy; <small>Copyright</small></p>
    <p>Pagina creata la
        <time datetime="2022-03-23">23-03-2022</time>
    </p>
    <a href="#Inceputul_paginii">↑</a>
</footer>